@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Tektur', cursive;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(31, 2, 30) 0%, rgba(72, 6, 98, 1) 100%);
}

.container {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(31, 2, 30) 0%, rgba(72, 6, 98, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 500px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding: 50px;
    border-radius: 30px;
}

.container h3 {
    color: #ffffff;
}

#timer {
    border-radius: 100%;
    border: none;
    color: rgb(147, 13, 200);
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    height: 20px;
    width: 20px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
}

.containerr h3 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.container p {
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answers input {
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 10px;
}

.answers button {
    text-decoration: none;
    padding: 10px;
    color: #000;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    width: 34%;
    margin: auto;
    font-family: 'Tektur', cursive;
}

.answers button:hover {
    background: #000000;
    transition: all ease-in-out 0.6s;
    color: #fff;
    border: 1px solid #fff;
}

.answers button:active {
    transform: scale(0.95);
}

/* Level Work Here */
.outerLevel {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

#level {
    height: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 1s;
}


@media(max-width: 768px) {
    .container {
        width: 320px;
        height: 400px;
        padding: 15px;
    }

    .container h1 {
        font-size: 25px;
    }

    .answers button {
        width: 70%;
    }
}