@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(31, 2, 30) 0%, rgba(72, 6, 98, 1) 100%);
    font-family: 'Tektur', cursive;
}

.main-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    margin: auto;
}

.anas-container {
    transform: translate(0, 50%);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(31, 2, 30) 0%, rgba(72, 6, 98, 1) 100%);
}

#timer {
    border-radius: 100%;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    width: 7%;
    margin: auto;
}

.anas-container h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    line-height: 48px;
    text-align: center;
}

.anas-container h3 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 28px;
}

.anas-container p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answers input {
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 10px;
}

.answers button {
    font-size: 18px;
    font-weight: 500;
    color: rgb(238, 238, 238);
    text-decoration: none;
    border: 1px solid rgb(123, 123, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: radial-gradient(circle, rgb(50, 7, 49) 0%, rgba(72, 6, 98, 1) 100%);
    width: 40%;
    margin: auto;
    cursor: pointer;
    font-family: 'Tektur', cursive;
}

.answers button:hover {
    background: radial-gradient(circle, rgba(72, 6, 98, 1), rgb(50, 7, 49) 0%, 40%);
}



@media (max-width: 768px) {
    .main-section {
        width: 400px;
    }

    .anas-container h1 {
        font-size: 30px;
    }

    .answers button {
        width: 70%;
    }
}